body {
    background-image:url('archery.jpg');
    background-repeat: repeat;
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    margin: 0;
    padding: 20px;
    text-align:center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

h1 {
    color: #3366cc;
    text-align: center;
    
}

h2 {
    color: #ff6600;
    border-bottom: 1px solid #ff6600;
    padding-bottom: 5px;
    text-align: center;
    background-color: beige;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}



img {
    display: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 40px;
    padding-top:15px;
        }



table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: beige;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
