body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

h1 {
    color: #3366cc;
    text-align: center;
}

h2 {
    color: #ff6600;
    border-bottom: 1px solid #ff6600;
    padding-bottom: 5px;
    text-align: center;
}



img {
    display: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
        }

table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}